name: Continuous Deployment - Development Backend Service
on: ["push", "pull_request"]
  #workflow_run:
  #  workflows: ["Continuous Integration - Development Backend Service"]
  #  types:
  #    - completed
permissions: write-all

jobs:
  cd:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Leo Cloud Container Registry
        uses: docker/login-action@v3
        with:
          registry: registry.cloud.htl-leonding.ac.at
          username: ${{ secrets.LEOCLOUD_EMAIL }}
          password: ${{ secrets.LEOCLOUD_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: Dockerfile
          push: true
          tags: |
            propromo/development-server:latest
            ghcr.io/${{ github.repository_owner }}/propromo-development-server:latest
            registry.cloud.htl-leonding.ac.at/j.froeller/development-server:latest
